-- Fase A: derivação de campos regulatórios a partir de processo_eventos + scm_eventos_lookup.
--
-- Fase B (ingest 800k): após inserir processo + eventos, chamar fn_derivar_campos_regulatorios(numero)
-- e persistir o JSON em processos (ou usar o mesmo batch server-side).
--
-- Depende de: processo_eventos, scm_eventos_lookup (categoria semântica por evento_codigo).
-- Ajuste o UPDATE abaixo se a coluna PK da lookup for `codigo` em vez de `evento_codigo`.

-- Cache opcional derivado (não confundir com situacao SIGMINE)
ALTER TABLE processos ADD COLUMN IF NOT EXISTS ativo_derivado BOOLEAN DEFAULT true;

COMMENT ON COLUMN processos.ativo_derivado IS 'False se houve caducidade/cancelamento/arquivamento SCM derivado dos eventos.';

-- Categoria explícita para Resolução ANM 76/2021 (COVID) — texto estruturado parseável
DO $$
BEGIN
  IF to_regclass('public.scm_eventos_lookup') IS NOT NULL THEN
    IF EXISTS (
      SELECT 1 FROM information_schema.columns
      WHERE table_schema = 'public' AND table_name = 'scm_eventos_lookup' AND column_name = 'evento_codigo'
    ) THEN
      UPDATE scm_eventos_lookup
      SET categoria = 'ALVARA_RETIFICACAO_VENCIMENTO'
      WHERE evento_codigo = 2481;
    ELSIF EXISTS (
      SELECT 1 FROM information_schema.columns
      WHERE table_schema = 'public' AND table_name = 'scm_eventos_lookup' AND column_name = 'codigo'
    ) THEN
      UPDATE scm_eventos_lookup
      SET categoria = 'ALVARA_RETIFICACAO_VENCIMENTO'
      WHERE codigo = 2481;
    END IF;
  END IF;
END $$;

-- ── Helpers: durações explícitas (anos) por código de evento ─────────────────

CREATE OR REPLACE FUNCTION terrae_anos_outorga(p_codigo integer)
RETURNS integer
LANGUAGE sql
IMMUTABLE
STRICT
AS $$
  SELECT CASE p_codigo
    WHEN 321 THEN 1
    WHEN 322 THEN 2
    WHEN 323 THEN 3
    WHEN 964 THEN 4
    ELSE NULL
  END;
$$;

CREATE OR REPLACE FUNCTION terrae_anos_renovacao_explicita(p_codigo integer)
RETURNS integer
LANGUAGE sql
IMMUTABLE
STRICT
AS $$
  SELECT CASE p_codigo
    WHEN 271 THEN 1
    WHEN 272 THEN 2
    WHEN 277 THEN 3
    ELSE NULL
  END;
$$;

CREATE OR REPLACE FUNCTION terrae_anos_prorrogacao_alvara(p_codigo integer)
RETURNS integer
LANGUAGE sql
IMMUTABLE
STRICT
AS $$
  SELECT CASE p_codigo
    WHEN 324 THEN 1
    WHEN 325 THEN 2
    WHEN 326 THEN 3
    ELSE NULL
  END;
$$;

CREATE OR REPLACE FUNCTION terrae_anos_gu_autorizacao_explicita(p_codigo integer)
RETURNS integer
LANGUAGE sql
IMMUTABLE
STRICT
AS $$
  SELECT CASE
    WHEN p_codigo IN (2752, 2755, 2758) THEN 1
    WHEN p_codigo IN (2753, 2756, 2759) THEN 2
    WHEN p_codigo IN (2754, 2757, 2760) THEN 3
    ELSE NULL
  END;
$$;

CREATE OR REPLACE FUNCTION terrae_anos_prorrogacao_gu(p_codigo integer)
RETURNS integer
LANGUAGE sql
IMMUTABLE
STRICT
AS $$
  SELECT CASE
    WHEN p_codigo IN (2323, 2327, 2331, 2335) THEN 1
    WHEN p_codigo IN (2324, 2328, 2332, 2336) THEN 2
    WHEN p_codigo IN (2325, 2329, 2333, 2337) THEN 3
    ELSE NULL
  END;
$$;

-- Parser COVID / retificação oficial de vencimento (código 2481 e similares)
CREATE OR REPLACE FUNCTION terrae_parse_altera_vencimento_resolucao_76(p_texto text)
RETURNS date
LANGUAGE plpgsql
IMMUTABLE
AS $$
DECLARE
  m text;
BEGIN
  IF p_texto IS NULL OR btrim(p_texto) = '' THEN
    RETURN NULL;
  END IF;
  m := substring(
    lower(coalesce(p_texto, ''))
    FROM 'alterado\s+para[^0-9]*([0-9]{2}/[0-9]{2}/[0-9]{4})'
  );
  IF m IS NULL THEN
    RETURN NULL;
  END IF;
  RETURN to_date(m, 'DD/MM/YYYY');
EXCEPTION
  WHEN OTHERS THEN
    RETURN NULL;
END;
$$;

-- Categoria efetiva: lookup primeiro; fallback mínimo por código crítico
CREATE OR REPLACE FUNCTION terrae_evento_categoria_efetiva(
  p_codigo integer,
  p_lookup text
)
RETURNS text
LANGUAGE sql
IMMUTABLE
AS $$
  SELECT COALESCE(
    NULLIF(btrim(p_lookup), ''),
    CASE p_codigo
      WHEN 2481 THEN 'ALVARA_RETIFICACAO_VENCIMENTO'
      ELSE NULL
    END
  );
$$;

-- ── Função principal ─────────────────────────────────────────────────────────

CREATE OR REPLACE FUNCTION fn_derivar_campos_regulatorios(p_numero text)
RETURNS jsonb
LANGUAGE plpgsql
STABLE
AS $$
DECLARE
  r RECORD;
  v_alvara date;
  v_gu_status text := 'NUNCA_REQUERIDA';
  v_gu_val date;
  v_ex_pend boolean := false;
  v_ativo boolean := true;

  v_tah date;
  v_lic_max date;
  v_port_min date;
  v_ini_min date;
  v_pfm_max date;
  v_ral_max date;

  v_ue_data date;
  v_ue_cod integer;
  v_ue_desc text;
  v_total integer := 0;

  v_max_285 date;
  v_max_gu_exp date;

  v_gu_sim date;
  v_covid date;

  v_cat text;
  v_txt text;
BEGIN
  IF p_numero IS NULL OR btrim(p_numero) = '' THEN
    RETURN jsonb_build_object(
      'alvara_validade', NULL,
      'gu_status', 'NUNCA_REQUERIDA',
      'gu_validade', NULL,
      'tah_ultimo_pagamento', NULL,
      'licenca_ambiental_data', NULL,
      'portaria_lavra_data', NULL,
      'inicio_lavra_data', NULL,
      'plano_fechamento_data', NULL,
      'ral_ultimo_data', NULL,
      'exigencia_pendente', false,
      'ultimo_evento_data', NULL,
      'ultimo_evento_codigo', NULL,
      'ultimo_evento_descricao', NULL,
      'total_eventos', 0,
      'ativo_derivado', true
    );
  END IF;

  SELECT COUNT(*)::integer INTO v_total
  FROM processo_eventos pe
  WHERE pe.processo_numero = p_numero;

  SELECT pe.data_evento, pe.evento_codigo, pe.evento_descricao
  INTO v_ue_data, v_ue_cod, v_ue_desc
  FROM processo_eventos pe
  WHERE pe.processo_numero = p_numero
  ORDER BY pe.data_evento DESC, pe.id DESC
  LIMIT 1;

  -- Agregados (MIN/MAX por família)
  SELECT MAX(pe.data_evento) INTO v_tah
  FROM processo_eventos pe
  LEFT JOIN scm_eventos_lookup sl ON sl.evento_codigo = pe.evento_codigo
  WHERE pe.processo_numero = p_numero
    AND (
      sl.categoria = 'TAH_PAGAMENTO'
      OR pe.evento_codigo IN (264, 587, 588, 634, 642, 654)
    );

  SELECT MAX(pe.data_evento) INTO v_lic_max
  FROM processo_eventos pe
  LEFT JOIN scm_eventos_lookup sl ON sl.evento_codigo = pe.evento_codigo
  WHERE pe.processo_numero = p_numero
    AND (
      sl.categoria IN (
        'LICENCA_AMBIENTAL_PROTOC',
        'LICENCA_AMBIENTAL_INSTALACAO',
        'LICENCA_AMBIENTAL_OPERACAO'
      )
      OR sl.categoria LIKE 'LICENCA_AMBIENTAL%'
      OR pe.evento_codigo IN (621, 622, 676, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 2215)
    );

  SELECT MIN(pe.data_evento) INTO v_port_min
  FROM processo_eventos pe
  LEFT JOIN scm_eventos_lookup sl ON sl.evento_codigo = pe.evento_codigo
  WHERE pe.processo_numero = p_numero
    AND (sl.categoria = 'PORTARIA_LAVRA' OR pe.evento_codigo IN (400, 2132, 2611));

  SELECT MIN(pe.data_evento) INTO v_ini_min
  FROM processo_eventos pe
  LEFT JOIN scm_eventos_lookup sl ON sl.evento_codigo = pe.evento_codigo
  WHERE pe.processo_numero = p_numero
    AND (sl.categoria = 'INICIO_LAVRA_COMUNICADO' OR pe.evento_codigo = 405);

  SELECT MAX(pe.data_evento) INTO v_pfm_max
  FROM processo_eventos pe
  LEFT JOIN scm_eventos_lookup sl ON sl.evento_codigo = pe.evento_codigo
  WHERE pe.processo_numero = p_numero
    AND (sl.categoria = 'PLANO_FECHAMENTO' OR pe.evento_codigo IN (1338, 2503, 2504));

  SELECT MAX(pe.data_evento) INTO v_ral_max
  FROM processo_eventos pe
  LEFT JOIN scm_eventos_lookup sl ON sl.evento_codigo = pe.evento_codigo
  WHERE pe.processo_numero = p_numero
    AND (
      sl.categoria IN ('RAL_APRESENTADO', 'RAL_ATRASADO_APRESENTADO', 'RAL_RETIFICADOR')
      OR pe.evento_codigo IN (418, 420, 541, 542, 760, 925, 1764, 2739)
    );

  SELECT NOT EXISTS (
    SELECT 1
    FROM processo_eventos pe
    LEFT JOIN scm_eventos_lookup sl ON sl.evento_codigo = pe.evento_codigo
    WHERE pe.processo_numero = p_numero
      AND (
        sl.categoria IN (
          'CADUCIDADE_DECLARADA',
          'CANCELAMENTO',
          'ARQUIVAMENTO_PROCESSO'
        )
        OR pe.evento_codigo IN (
          274, 650, 699, 2068,
          296, 704, 796, 799,
          155, 279, 410, 565, 781, 951, 1039, 1147, 1678
        )
      )
  ) INTO v_ativo;

  SELECT MAX(pe.data_evento) FILTER (WHERE pe.evento_codigo = 285) INTO v_max_285
  FROM processo_eventos pe
  WHERE pe.processo_numero = p_numero;

  SELECT MAX(pe.data_evento) FILTER (
    WHERE pe.evento_codigo BETWEEN 2752 AND 2760
  ) INTO v_max_gu_exp
  FROM processo_eventos pe
  WHERE pe.processo_numero = p_numero;

  -- Linha do tempo: alvará, exigência, GU status textual
  FOR r IN
    SELECT
      pe.id,
      pe.data_evento,
      pe.evento_codigo,
      pe.evento_descricao,
      pe.observacao,
      terrae_evento_categoria_efetiva(pe.evento_codigo, sl.categoria) AS cat
    FROM processo_eventos pe
    LEFT JOIN scm_eventos_lookup sl ON sl.evento_codigo = pe.evento_codigo
    WHERE pe.processo_numero = p_numero
    ORDER BY pe.data_evento ASC, pe.id ASC
  LOOP
    v_cat := r.cat;
    v_txt := coalesce(r.observacao, '') || ' ' || coalesce(r.evento_descricao, '');

    -- Exigência (último estado ganha)
    IF v_cat = 'EXIGENCIA_ABERTA'
       OR r.evento_codigo IN (
         3, 122, 131, 250, 344, 361, 470, 530, 718, 825
       )
    THEN
      v_ex_pend := true;
    ELSIF v_cat IN (
      'EXIGENCIA_CUMPRIMENTO',
      'EXIGENCIA_ANULADA',
      'EXIGENCIA_PRORROGACAO_CONCEDIDA'
    )
      OR r.evento_codigo IN (4, 135, 255, 348, 137, 199, 560)
    THEN
      v_ex_pend := false;
    END IF;

    -- GU status (último evento regulatório GU relevante prevalece na prática: atualizamos a cada ocorrência)
    IF r.evento_codigo IN (283, 624, 1097, 2209) THEN
      v_gu_status := 'REQUERIDA';
    ELSIF r.evento_codigo IN (284, 626, 1096, 2239) THEN
      v_gu_status := 'INDEFERIDA';
    ELSIF r.evento_codigo IN (1777, 1778, 1779, 2238) THEN
      v_gu_status := 'CANCELADA';
    ELSIF r.evento_codigo IN (1022, 1055, 1091, 2212) THEN
      v_gu_status := 'DEVOLVIDA';
    ELSIF r.evento_codigo = 285 OR r.evento_codigo BETWEEN 2752 AND 2760 THEN
      v_gu_status := 'AUTORIZADA';
    END IF;

    -- Alvará: cadeia cronológica
    v_covid := terrae_parse_altera_vencimento_resolucao_76(v_txt);
    IF r.evento_codigo = 2481 OR v_cat = 'ALVARA_RETIFICACAO_VENCIMENTO' THEN
      IF v_covid IS NOT NULL THEN
        v_alvara := v_covid;
      END IF;
    ELSIF terrae_anos_outorga(r.evento_codigo) IS NOT NULL THEN
      v_alvara := r.data_evento + (terrae_anos_outorga(r.evento_codigo) || ' years')::interval;
    ELSIF terrae_anos_renovacao_explicita(r.evento_codigo) IS NOT NULL THEN
      v_alvara := r.data_evento + (terrae_anos_renovacao_explicita(r.evento_codigo) || ' years')::interval;
    ELSIF terrae_anos_prorrogacao_alvara(r.evento_codigo) IS NOT NULL THEN
      IF v_alvara IS NOT NULL THEN
        v_alvara := v_alvara + (terrae_anos_prorrogacao_alvara(r.evento_codigo) || ' years')::interval;
      END IF;
    ELSIF r.evento_codigo IN (201, 176, 275) THEN
      NULL;
    END IF;
  END LOOP;

  -- GU validade: simulação explícita (2752–2760 + prorrogações), depois regra 285
  v_gu_sim := NULL;
  FOR r IN
    SELECT pe.data_evento, pe.evento_codigo
    FROM processo_eventos pe
    WHERE pe.processo_numero = p_numero
      AND (
        pe.evento_codigo BETWEEN 2752 AND 2760
        OR terrae_anos_prorrogacao_gu(pe.evento_codigo) IS NOT NULL
      )
    ORDER BY pe.data_evento ASC, pe.id ASC
  LOOP
    IF terrae_anos_gu_autorizacao_explicita(r.evento_codigo) IS NOT NULL THEN
      v_gu_sim :=
        r.data_evento
        + (terrae_anos_gu_autorizacao_explicita(r.evento_codigo) || ' years')::interval;
    ELSIF terrae_anos_prorrogacao_gu(r.evento_codigo) IS NOT NULL AND v_gu_sim IS NOT NULL THEN
      v_gu_sim := v_gu_sim + (terrae_anos_prorrogacao_gu(r.evento_codigo) || ' years')::interval;
    END IF;
  END LOOP;

  v_gu_val := v_gu_sim;

  IF v_gu_status = 'AUTORIZADA' THEN
    IF v_max_285 IS NOT NULL AND (v_max_gu_exp IS NULL OR v_max_285 > v_max_gu_exp) THEN
      v_gu_val := NULL;
    ELSIF v_max_gu_exp IS NOT NULL AND (v_max_285 IS NULL OR v_max_gu_exp >= v_max_285) THEN
      v_gu_val := v_gu_sim;
    ELSE
      v_gu_val := NULL;
    END IF;
  ELSE
    v_gu_val := NULL;
  END IF;

  RETURN jsonb_build_object(
    'alvara_validade', v_alvara,
    'gu_status', v_gu_status,
    'gu_validade', v_gu_val,
    'tah_ultimo_pagamento', v_tah,
    'licenca_ambiental_data', v_lic_max,
    'portaria_lavra_data', v_port_min,
    'inicio_lavra_data', v_ini_min,
    'plano_fechamento_data', v_pfm_max,
    'ral_ultimo_data', v_ral_max,
    'exigencia_pendente', v_ex_pend,
    'ultimo_evento_data', v_ue_data,
    'ultimo_evento_codigo', v_ue_cod,
    'ultimo_evento_descricao', v_ue_desc,
    'total_eventos', v_total,
    'ativo_derivado', v_ativo
  );
END;
$$;

COMMENT ON FUNCTION fn_derivar_campos_regulatorios(text) IS
'Deriva campos regulatórios em cache a partir de processo_eventos + scm_eventos_lookup. Fase B: após ingest de novos processos/eventos, chamar e persistir no registo processos.';

GRANT EXECUTE ON FUNCTION fn_derivar_campos_regulatorios(text) TO PUBLIC;
